

.header {
    
    flex-shrink: 0;
    background-color: #F4F3FF !important; /* Background color */
    box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0;
    margin: 0 !important;
}

.main-header {
    
    background-color: rgb(255, 255, 255);
    z-index: 1034;
    margin: 0 !important;
    animation: none;
}

    .menu{
    height: 60px;
    flex-shrink: 0;
    background: #941E1E;
    padding: 0% !important;
    margin: 0;
    }
    
    .logo {
        max-width: 10%; /* Adjust the max-width to make the logo smaller */
        max-height: 10%; /* Adjust the max-height to make the logo smaller */
        float: left;
        position: relative;
        z-index: 1;
        left: 80px;
        top: -15px;
    }
    
    .nmpc {
        margin-left: 250px !important;
        color: #004AAD;
    font-family: Inika;
    font-size: 25px;
    font-style: normal;
    margin: 40px;
    font-weight: 700;
    line-height: normal;
    }

    .user-image{
        max-width: 10%; /* Adjust the max-width to make the logo smaller */
        max-height: 10%; /* Adjust the max-height to make the logo smaller */
        float: left;
        position: absolute;
        z-index: 1;
        left: 1300px;
        top: 2%;
    }

    .img-circle {
        border-radius: 50%;
        width: 60px;
    }

    .info {
        color: #004AAD;
        position: absolute;
        text-align: right;
        font-family: Inter;
        left: 1250px;
        top: 25px;
        font-size: 15px;
        font-style: normal;
        padding: 0;
        margin: 0;
        font-weight: 600;
    }

    a .nav-link{
        display: inline;
        text-align: center;
    }
   
    .nav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #941E1E;
        text-align: center;
        display: flex; /* Use flexbox to center horizontally */
        justify-content: center;
      }
      
      .nav-item {
        float: left;
        display: inline;
      }
      
      .nav-item a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
     .nav-item a:hover {
        background-color: #ffffff;
        color: black;
      }
    
    .nav-item p {
        align-items: center;
        margin-bottom: 0;
    }

    #myInput {
        width: 380px;
height: 45px;
flex-shrink: 0;
float: right;
    }

    .search-container {
        padding-top: 30px !important;
        padding-right: 50px !important;
        display: block;
    
        
    }

    .fa-filter {
        width: 42px;
        float: right;
        color: #723B3B;
        padding-top: 18px;
        height: 49px;
        flex-shrink: 0;
    }


    #noResultsMessage{
        padding-left: 50px;
        padding-top: 30px;
        position: relative;
        float: right;
    }
    
  

   